{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-3 mt-3">
		    <h1>Hello! ✅</h1>
		    <a href="{{ path('message') }}">Создать сообщения</a>
		    <a href="{{ path('logout') }}">Выйти</a>
	    </div>
	</div>
</div>
{% endblock %}
